<html lang="en">
<head>
    <% include partials/head %>
</head>

	<body class="container">

	    <header>
	        <% include partials/header %>
	    </header>

	    <main>
	    	<div class="jumbotron">
				<div id="all-polls">
				<% for(var i=0; i < polls.length; i++) { %>
				     <div class="poll-list"><%= (polls[i].question) %></div>
				<% } %>
				 </div>
			</div>
		</main>

		<footer>
	        <% include partials/footer %>
	    </footer>

	</body>
</html>

