<html lang="en">
<head>
    <% include partials/head %>
</head>

	<body class="container">

	    <header>
	        <% include partials/header %>
	    </header>

	    <main>
			<h1> in the future, this will be where the poll will be and people can vote on it. </h1>

			<span> <%- question -%></span><br>
			<span><%- answers -%> </span><br>
			<span><%- id -%> </span>
		</main>
